/* ============= Base Styles ============= */
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 18px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
  }

  body, a, a:visited {
      color: #454959;
  }

  p {
    color: #646875;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  h1, h4 {
    font-family: 'Inknut Antiqua', serif;
  }

  a, h2 {
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
  }

/* ============= Header ============= */
  header {
    background-color: #fafafa;
    margin-top: -1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 1.3rem;
    margin: 1rem 1rem 1.75rem;
  }

  nav li {
    display: block;
    background-color: #fff;
    margin-bottom: 0.25rem;
    padding: .5rem;
  }

  header img {
    padding: 1.5rem;
  }

  header p {
    color: #9999a5;
  }

/* ============= Main ============= */
main {
  margin: 1rem;
}

h2 {
  font-size: 1rem;
  margin: 2.25rem;
}

h3 {
  font-weight: 400;
}

/* ============= Media Queries ============= */
