/* ============= Base Styles ============= */
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
  }

  body,
  a,
  a:visited {
      color: #454959;
  }

  p {
    color: #646875;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  h1,
  h4 {
    font-family: 'Inknut Antiqua', serif;
  }

  a,
  h2 {
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
  }

/* ============= Header ============= */
  header,
  #Contact,
  footer {         /*Hey Tom, remember _C_aptialization!! */
    background-color: #fafafa;
    padding: 1rem;
  }

  header {
    margin-top: -1rem;
  }

  h1 {
    font-size: 1.3rem;
    margin: 1rem 1rem 1.75rem;
  }

  nav li {
    display: block;
    background-color: #fff;
    margin-bottom: 0.25rem;
    padding: .5rem;
  }

  header img {
    padding: 1.5rem 2.5rem 0.5rem;
  }

  header p,
  #Contact p {
    color: #9999a5;
  }

/* ============= Main ============= */
main {
  margin: 1rem;
}

h2 {
  font-size: 1rem;
  margin: 2.25rem;
}

h3 {
  font-weight: 400;
}

#Portfolio li,
#Skills li {
  margin-bottom: 2.6rem;
}

#Portfolio li p {
  margin: 1rem 0.25rem;
}

#Skills li {
  Padding: 1rem 0.3rem;
}

#Skills li,
#Skills li p {
  color: #fff;
}

/* Borrowing some colors from the profile img backgrounds */
#Continual-Improvement {
  background-color: #52bab4;
}

#Dual-Citizen {
  background-color: #36acd0;
}

#Juggling {
  background-color: #2472aa;
}

#Contact {
  margin-left: -1rem;
  margin-right: -1rem;
}

hr {
  border-top: 1px solid #f1f1f3;
  margin-top: 3.5rem;
}

strong {
  font-weight: 500;
}

/* ============= Footer ============= */
footer {
  margin-top: -1rem;
  padding-top: 0;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  font-size: 0.85rem;
  /* font-weight: 400; */
}

h4 {
  margin: 0;
  font-size: 0.85rem;
}

/* ============= Media Query One: 768px and wider ============= */
@media (min-width:768px) {
  nav ul {
    display: flex;
    justify-content: center;
  }

  nav li {
    background-color: inherit;
  }

  #Intro {
    display: flex;
    text-align: left;
    font-size: 1.25rem;
  }

  header p{
    flex: 1;
  }

  header img {
    width: 367px;
    padding: 1rem;
    order: 1;
    flex: 1;
  }

}
