/* ============= Base Styles ============= */
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 16px;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
  }

  body,
  a,
  a:visited {
      color: #454959;
  }

  p {
    color: #646875;
  }

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  h1,
  h4 {
    font-family: 'Inknut Antiqua', serif;
  }

  a,
  h2 {
    text-transform: uppercase;
    font-weight: 500;
  }

  ul {
    list-style: none;
    padding: 0;
  }

/* ============= Header ============= */
  header,
  #Contact,
  footer {         /* Hey Tom, remember _C_aptialization!! */
    background-color: #fafafa;
    padding: 1rem;
  }

  header {
    margin-top: -1rem;
  }

  h1 {
    font-size: 1.3rem;
    margin: 1rem 1rem 1.75rem;
  }

  nav li {
    display: block;
    background-color: #fff;
    margin-bottom: 0.25rem;
    padding: .5rem;
  }

  header img {
    padding: 1.5rem 2.5rem 0.5rem;
  }

  header p,
  #Contact p {
    color: #9999a5;
  }

/* ============= Main ============= */
main {
  margin: 1rem;
}

h2 {
  font-size: 1rem;
  margin: 2.25rem;
}

h3 {
  font-weight: 400;
}

#Portfolio li,
#Skills li {
  margin-bottom: 2.6rem;
}

#Portfolio li p {
  margin: 1rem 0.25rem;
}

#Skills li {
  Padding: 1rem 0.3rem;
}

#Skills li,
#Skills li p {
  color: #fff;
}

/* Borrowing some colors from the profile img backgrounds */
#Continual-Improvement {
  background-color: #52bab4;
}

#Dual-Citizen {
  background-color: #36acd0;
}

#Juggling {
  background-color: #2472aa;
}

hr {
  border-top: 1px solid #f1f1f3;
  margin-top: 3.5rem;
}

strong {
  font-weight: 500;
}

/* ============= Footer ============= */
footer {
  margin-top: -1rem;
  padding-top: 0;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  font-size: 0.85rem;
  /* font-weight: 400; */
}

h4 {
  margin: 0;
  font-size: 0.85rem;
}

#footer-nav {
  display: none;
}

/* ============= Media Query One: 768px and wider ============= */
@media (min-width:768px) {

  header {
    padding-top: 3rem;
  }

  #Intro,
  nav ul,
  #Portfolio ul,
  #Skills ul,
  #footer-nav {
  display: flex;
  }

  nav ul {
    justify-content: center;
  }

  nav li {
    background-color: inherit;
  }

  #Intro {
    text-align: left;
  }

  #Intro,
  #Contact p {
    font-size: 1.25rem;
  }

  header p{
    flex-basis: 60%;
  }

  header img {
    width: 367px;
    padding: 1rem;
    order: 1;
  }

  #Portfolio ul {
    flex-wrap: wrap;
    margin: 0;
  }

  #Portfolio li {
    flex-basis: 50%;
    padding: 0 0.5rem;
  }

  #Portfolio li p,
  #Contact p {
    width: 80%;
    margin: auto;
  }

  #Skills li {
    flex: 1;
    margin: 0.5rem;
  }

  #Contact {
    margin-top: 3rem;
  }

  #Contact p {
    margin-bottom: 2rem;
  }

  /* Switch out that navigation */
  #rise-up {
    display: none;
  }

  #footer-nav li {
      padding: .5rem;
  }

}

/* ============= Media Query Two: 1024px and wider ============= */
@media (min-width:1024px) {

  body {
    background-color: #fafafa;
  }

  main {
    background-color: #fff;
    padding: 1rem;
  }

/*  Make it look like the picture, at 1024px wide,
    But keep in at a max of 1000px and centered.*/
  header,
  main,
  #Contact,
  footer {
    width: 95%;
    max-width: 1000px;
    margin: auto;
  }

  #title-bar {
    display: flex;
    justify-content: space-between;
  }

  /*  No point having a hover state on a touch screen,
      So, I'll put that in here.*/
  a,
  #Skills li,
  #Portfolio li{
    transition: all 0.3s ease;
  }

  a:hover {
    color: #36acd0; /* Again, borrowing color from image.*/
  }

  #Skills li:hover {
    background-color: #62717e; /* ... and again!*/
  }

  #Portfolio li {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  #Portfolio li:hover {
    box-shadow: 0 0 2.25rem #cbd1d7;
  }

  header {
    padding-bottom: 4rem;
  }

  header p {
    flex: 2;
    padding-right: 2rem;
  }

  header img {
    width: 100%;
    padding: 0;
    margin: 0;
    flex: 1;
  }

  #Portfolio li {
    flex-basis: 33%;
  }

  #Contact p {
    width: 60%;
  }

  main {
    /* margin: 1rem; */
  }

}
